<div class="ui inverted dimmer" [class.active]="loading">
  <div class="ui text loader">Loading</div>
</div>

<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Corona Covid-19 Tracker</h1>
  <hr>
  <app-dashboard-card
    [totalConfirmed]='totalConfirmed'
    [totalActive]='totalActive'
    [totalDeaths]='totalDeaths'
    [totalRecovered]='totalRecovered'>
  </app-dashboard-card>
</div>
<hr/>
<div class="ui form">
  <div class="inline fields">
    <label for="caseType">Select Case Type:</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" id='confirmed' value='confirmed' #c name="caseType" (click)="updateChart(c.value)" checked="" tabindex="0" class="hidden">
        <label for='confirmed'>Confirmed</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" id='deaths' value='deaths' #d name="caseType" (click)="updateChart(d.value)" tabindex="0" class="hidden">
        <label for='deaths'>Deaths</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" id='recovered' value='recovered' #r name="caseType" (click)="updateChart(r.value)" tabindex="0" class="hidden">
        <label for='recovered'>Recovered</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" id='active' value='active' #a name="caseType" (click)="updateChart(a.value)" tabindex="0" class="hidden">
        <label for='active'>Active</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <google-chart
        [type]="chart.PieChart"
        [data]="datatable"
        [height]="chart.height"
        [options]="chart.options"
        style="width: 100%;">
      </google-chart>
    </div>
    <div class="col">
      <google-chart
        [type]="chart.ColumnChart"
        [data]="datatable"
        [height]="chart.height"
        [options]="chart.options"
        style="width: 100%;">
      </google-chart>
    </div>
  </div>
</div>

